---
layout: layouts/home.njk
permalink: /hardware/
eleventyNavigation:
  key: Hardware
  order: 5
---

<h1>Demo Hardware POS</h1>

{% set cinemaslist = collections.cinemas %}
{% include "cinemaslist.njk" %}
