{% include "controller/cinemacontent.njk" %}
{% include "controller/tagging.njk" %}
{% include "controller/navcinema.njk" %}
{% include "controller/promo.njk" %}
{% include "controller/cinema.njk" %}
{% include "controller/post.njk" %}