<h1 class="text-center"><strong><a href="{{page.url}}"><img class="img-fluid rounded-circle" alt="{{metadata.description}}" src="https://getbootstrap.com/docs/5.1/assets/img/favicons/apple-touch-icon.png" width="40" /> {{ metadata.title }}</a></strong></h1>
<h2>{{ metadata.description }}</h2>
{% set maxPosts = collections.posts.length | min(4) %}
{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
{% set maxPromos = collections.promos.length | min(3) %}
{% set promoslist = collections.promos | head(-3) %}
{% set promoslistCounter = collections.promos | length %}
{% include "promoslist.njk" %}
{% set maxCinemas = collections.cinemas.length | min(2) %}
{% set cinemaslist = collections.cinemas | head(-2) %}
{% set cinemaslistCounter = collections.cinemas | length %}
{% include "cinemaslist.njk" %}