<div class="container">
<div class="row">
{% for promo in promoslist | reverse %}
<div reversed class="promolist col-md-3 col-6 p-1" style="counter-reset: start-from {{ (promoslistCounter or promoslist.length) + 1 }}">

<div class="card">
<a href="{{ promo.url | url }}" class="promolist-link">
  <img class="card-img-top" alt="{{ promo.data.title }}" loading="lazy" width="100%" height="100%" src="{{ promo.data.cover }}"/>
  <div class="card-body p-1 promoslist-item{% if promo.url == url %} promolist-item-active{% endif %}">
      <div class="card-body">
        <h4 class="card-title">{% if promo.data.title %}{{ promo.data.title }}{% else %}<code>{{ promo.url }}</code>{% endif %}</h4>
    <p class="card-text"><small><time class="promolist-date text-secondary" datetime="{{ promo.date | htmlDateString }}">{{ promo.date | readableDate }}</time></small></p>
      </div>
  </div>
  </a>
</div>
</div>
{% endfor %}
</div>
</div>
