{% include "controller/postcontent.njk" %}
{% include "controller/tagging.njk" %}
{% include "controller/navpromo.njk" %}
{% include "controller/promo.njk" %}
{% include "controller/cinema.njk" %}
{% include "controller/post.njk" %}