{%- set nextPromo = collections.promos | getNextCollectionItem(page) %}
{%- set previousPromo = collections.promos | getPreviousCollectionItem(page) %}
{%- if nextPromo or previousPromo %}
<div class="text-center p-3">
  {%- if nextPromo %} <a class="float-start btn btn-bgs btn-sm border border-white text-white" href="{{ nextPromo.url | url }}">← {{ nextPromo.data.title }}</a>{% endif %}
  {%- if previousPromo %}&nbsp;<a class="float-end btn btn-bgs btn-sm border border-white text-white" href="{{ previousPromo.url | url }}">{{ previousPromo.data.title }} →</a>{% endif %}
</div>
{%- endif %}