{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<div class="text-center p-3">
  {%- if nextPost %} <a class="float-start btn btn-bgs btn-sm border border-white text-white" href="{{ nextPost.url | url }}">← {{ nextPost.data.title }}</a>{% endif %}
  {%- if previousPost %}&nbsp;<a class="float-end btn btn-bgs btn-sm border border-white text-white" href="{{ previousPost.url | url }}">{{ previousPost.data.title }} →</a>{% endif %}
</div>
{%- endif %}
