</div>
    </div>
    <footer class="text-center border-top p-1"><small><small>build with <a href="https://getbootstrap.com/">bootstrap</a> + <a href="https://www.11ty.dev/">11ty</a> made with 💘 by <a href="https://axcora.com/getaxcoracms">axcora</a><br/>Developer <a href="https://creativebydre.vercel.app">creativebydre</a></small></small></footer>
    <script src="{{ '/' | url }}css/bs.js"></script>
  </body>
</html>