  <body class="lead bg-light">
<nav class="navbar navbar-expand-lg">
  <div class="container">
<a class="navbar-brand" href="{{ '/' | url }}"><img class="img-fluid rounded-circle" alt="bootstrap eleventy website template themes source code free download gratis" src="https://getbootstrap.com/docs/5.1/assets/img/favicons/apple-touch-icon.png" width="40"/>{{ metadata.title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-code-square text-white" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
</svg>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item">
           <a class="nav-link {% if entry.url == page.url %} nav-item-active{% endif %}"  href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
      {%- endfor %} 
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Premium
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" target="_blank" href="https://tokorak.web.app/">Complete Company →</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://raktoko.web.app/">Company Profile →</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://bootstrap11ty.pages.dev/">Personal Profile →</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" target="_blank" href="https://eleventy.web.app/">Contact Developer →</a></li>
          </ul>
        </li>
      <li class="nav-item">
           <a class="nav-link" href="https://www.hockeycomputindo.com/2022/03/eleventy-bootstrap-web-template-seo.html">Documentation</a>
      </li>
        <li class="nav-item">
           <a class="nav-link btn btn-light text-dark"  href="https://github.com/mesinkasir/eleventyblog"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
</svg> Github</a>
      </li>
      </ul>
   
    </div>
  </div>
</nav>