{% include "layouts/widget/head.njk" %}
{% include "layouts/widget/nav.njk" %}
{% include "layouts/widget/content.njk" %}
{% include "layouts/widget/pages.njk" %}
{% include "layouts/widget/social.njk" %}
{% include "layouts/widget/dev.njk" %} 
{% include "layouts/widget/support.njk" %} 
{% include "layouts/widget/contact.njk" %} 
{% include "layouts/widget/footer.njk" %}